@model DuAn_DoAnNhanh.Data.ViewModel.BillViewModel


<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Hình ảnh</th>
            <th>Tên </th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BillDetails)
        {
            <tr>
                <td><img @* class="card-img-top" *@ src="@item.Image" style="height: 100px;width:100px; object-fit: cover;"></td>
                <td>@item.PCName</td>
                <td>
                    @item.Price.ToString("N0") đ
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>@item.Order.TotalAmount</td>
            </tr>
        }
    </tbody>
</table>
