 @model IEnumerable<DuAn_DoAnNhanh.Data.Entities.CartItem> 
@{
    decimal totalCartPrice = 0;
}

<div class="container mt-5">
    <h2 class="mb-4">Giỏ hàng của bạn</h2>
    @if (!Model.Any())
    {
        <div class="alert alert-info">
            Giỏ hàng của bạn trống.
            <a href="@Url.Action("Index", "Product")">Quay lại mua sắm</a>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên sản phẩm</th>                   
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.Combo == null && item.Product != null)
                                {
                                    var totalItemPrice = item.Product.Price * item.Quantity;
                                    totalCartPrice += totalItemPrice;

                                    <tr>
                                        <td style="width: 15%;">
                                            <img src="@item.Product.ImageUrl" class="img-fluid" style="max-height: 100px;" />
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @item.Product.ProductName
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @item.Product.Price.ToString("N0") đ
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <form method="post" action="@Url.Action("UpdateCartItem", "Cart", new { cartItemId = item.CartItemID, quantity = item.Quantity })" class="d-inline">
                                                <input type="number" name="quantity" value="@item.Quantity" min="1" class="form-control d-inline " style="width:70px" />
                                                 <button type="submit" class="btn btn-sm btn-secondary">Lưu</button> 
                                            </form>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @totalItemPrice.ToString("N0") đ
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <form method="post" action="@Url.Action("RemoveCartItem", "Cart", new { cartItemId = item.CartItemID })" class="d-inline">
                                                <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                                            </form>
                                        </td>
                                    </tr>
                                }

                                @if (item.Combo != null && item.Product == null)
                                {
                                    var totalItemPrice = item.Combo.Price * item.Quantity;
                                    totalCartPrice += totalItemPrice;

                                    <tr>
                                        <td style="width: 15%;">
                                            <img src="@item.Combo.Image" class="img-fluid" style="max-height: 100px;" />
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @item.Combo.ComboName
                                            <br />
                                            @foreach (var x in @item.Combo.ProductComboes)
                                            {
                                                <p style="font-size:12px; margin:0px">@x.Quantity @x.Product.ProductName</p>
                                            }
                                            
                                            
                                            
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @item.Combo.Price.ToString("N0") đ
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <form method="post" action="@Url.Action("UpdateCartItem", "Cart", new { cartItemId = item.CartItemID, quantity = item.Quantity })" class="d-inline">
                                                <input type="number" name="quantity" value="@item.Quantity" min="1" class="form-control d-inline " style="width:70px"/>
                                                <button type="submit" class="btn btn-sm btn-secondary">Lưu</button> 
                                            </form>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @totalItemPrice.ToString("N0") đ
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <form method="post" action="@Url.Action("RemoveCartItem", "Cart", new { cartItemId = item.CartItemID })" class="d-inline">
                                                <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tóm tắt đơn hàng</h4>
                        <p class="card-text">Mặt hàng: @Model.Sum(item => item.Quantity)</p>
                        <p class="card-text">Tổng: @totalCartPrice.ToString("N0") đ</p>
                        <a href="@Url.Action("Checkout", "Order")" class="btn btn-primary btn-lg btn-block">Tiến hành thanh toán</a>
                        <form method="post" action="@Url.Action("ClearCart", "Cart")" class="mt-3">
                            <button type="submit" class="btn btn-warning btn-block">Xóa tất cả giỏ hàng</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
 

    </div>
