@using DuAn_DoAnNhanh.Data.Enum
@using DuAn_DoAnNhanh.Data.ViewModel
@model CheckOutViewModel
@{
    decimal totalCartPrice = 0;
    decimal totalCartPriceEndow = 0;
}
<script>
    $(document).ready(function () {
    $("input[name='payment']").change(function () {
    $("label").removeClass("border-danger text-danger shadow border-2");
    $(this)
    .closest("label")
    .addClass("border-danger text-danger shadow border-2");
    });
    });
</script>
<div class="row">
    <div class="col-7">

        <div class="container p-0">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>CHI TIẾT ĐƠN HÀNG</span>
                        <span class="text-primary" style="cursor: pointer">✎</span>
                    </h4>
                    <hr/>
                    @foreach (var item in Model.CartItemes)
                    {
                        @if (item.Combo == null && item.Product != null)
                        {
                            var totalItemPrice = item.Product.Price * item.Quantity;
                            totalCartPrice += totalItemPrice;
                            totalCartPriceEndow += totalItemPrice;
                            <div class="row align-items-center border-bottom pb-2">
                                <div class="col-2">
                                    <img src="@item.Product.ImageUrl" alt="@item.Product.ProductName" class="img-fluid rounded">
                                </div>
                                <div class="col-10">
                                    <p class="my-1 fw-bold">@item.Product.ProductName</p>
                                    <p class="my-2 text-muted">x @item.Quantity <span class="float-end fw-bold">@item.Product.Price.ToString("N0") đ</span></p>
                                </div>
                            </div>
                        }
                        else if (item.Combo != null && item.Product == null)
                        {
                            decimal totalItemPrice;
                            decimal totalItemPriceEndow = 0;


                            @if (item.Combo.SetupPrice.HasValue)
                            {
                                totalItemPriceEndow = item.Combo.SetupPrice.Value * item.Quantity;
                                totalCartPriceEndow += totalItemPriceEndow;
                                totalItemPrice = item.Combo.Price * item.Quantity;
                                totalCartPrice += totalItemPrice;

                            }
                            else
                            {
                                totalItemPrice = item.Combo.Price * item.Quantity;
                                totalCartPrice += totalItemPrice;
                                totalCartPriceEndow += totalItemPrice;
                            }
                            <div class="row align-items-center border-bottom pb-2">
                                <div class="col-2">
                                    <img src="@item.Combo.Image" alt="@item.Combo.ComboName" class="img-fluid rounded">
                                </div>
                                <div class="col-10">
                                    <p class="my-1 fw-bold">@item.Combo.ComboName</p>
                                    @foreach (var x in @item.Combo.ProductComboes)
                                    {
                                        <p style="font-size:12px; margin:0px">@x.Quantity @x.Product.ProductName</p>
                                    }
                                    @if (@item.Combo.SetupPrice == null)
                                    {
                                        <p class="my-2 text-muted">x @item.Quantity <span class="float-end fw-bold">@totalItemPrice.ToString("N0") đ</span></p>

                                    }
                                    else
                                    {
                                        <p class="my-2 text-muted">x @item.Quantity <span class="float-end fw-bold"><del class="float-end">@totalItemPrice.ToString("N0") đ</del> <br />@totalItemPriceEndow.ToString("N0") đ</span></p>
                                    }
                                </div>
                            </div>
                        }

                    }
                    <div class="mt-3">
                        <p class="d-flex justify-content-between my-2">
                            Tổng <span class="fw-bold">@totalCartPrice.ToString("N0") đ</span>
                        </p>
                        <p class="d-flex justify-content-between my-2">
                            Khuyến mại <span class="fw-bold">@((totalCartPrice - totalCartPriceEndow).ToString("N0")) đ</span>
                        </p>
                        <hr/>
                        <p class="d-flex justify-content-between my-2">
                            Chi phí tạm tính
                            <span class="fw-bold">
                                @if (totalCartPriceEndow == totalCartPrice)
                                {
                                    <span>@totalCartPrice.ToString("N0") đ</span>
                                }
                                else
                                {
                                    <span> @totalCartPriceEndow.ToString("N0") đ</span>
                                }
                            </span>
                        </p>
                        <p class="text-danger small">Đã bao gồm thuế VAT 8%</p>
                        <p class="d-flex justify-content-between mb-1">
                            Phí giao hàng <span class="fw-bold">10,000 đ</span>
                        </p>
                    </div>

                    <hr />

                    <!-- Khuyến mãi -->
                    <div>
                        <p class="fw-bold">Áp dụng khuyến mãi</p>
                        <button class="btn btn-warning w-100 mb-2">Duyệt voucher</button>
                        <div class="input-group">
                            <input type="text" 
                            class="form-control"
                            placeholder="Nhập mã phiếu quà tặng" />
                            <button class="btn btn-danger">ÁP DỤNG</button>
                        </div>
                    </div>
                    <div class="my-3">
                        <label class="mb-2">Ghi chú</label>
                        <textarea class="form-control" id="pickupNote" name="pickupNote" rows="3" placeholder="Ghi chú (nếu có)"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <form method="post" action="@Url.Action("CheckOut", "Cart")">
            <div class="container p-0">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">
                            <span>Thông tin người nhận</span>
                            <a href="@Url.Action("Address", "User")">
                                <span class="text-primary" style="cursor: pointer">✎</span>
                            </a>

                        </h4>
                        @if (Model.ReceivingType == ReceivingType.PickUpAtStore)
                        {
                            <div  class="mt-3">
                                <div class="mb-2">
                                    <label class="mb-2">Tên người nhận</label>
                                    <input type="text" class="form-control" id="pickupName" asp-for="@Model.ReceiverName" value="@Model.Address.FullName">
                                </div>
                                <div class="mb-2">
                                    <label class="mb-2" >Số điện thoại</label>
                                    <input type="text" class="form-control" id="pickupPhone" asp-for="@Model.ReceiverPhone" value="@Model.Address.NumberPhone">
                                </div>
                                @if (TempData["ErrorReceiver"] != null)
                                {
                                    <p class="text-danger">@TempData["ErrorReceiver"]</p>
                                }
                            </div>

                        }
                        else
                        {
                            @if (@Model.Address == null)
                            {
                                <div class="alert alert-info">
                                    Địa chỉ của bạn trống.
                                    <a href="@Url.Action("Address", "User")">Thêm địa chỉ</a>
                                </div>
                                @if (TempData["ErrorAddress"] != null)
                                {
                                    <p class="text-danger">@TempData["ErrorAddress"]</p>
                                }
                            }
                            else
                            {
                                <p class="p-0">@Model.Address.FullName</p>
                                <p>@Model.Address.NumberPhone</p>
                                <p>@Model.Address.FullAddress</p>
                                <input type="hidden" name="addressId" asp-for="@Model.AddressID" value="@Model.Address.AddressID" />
                            }
                        }
                        


                    </div>
                </div>
            </div>
            <div class="container p-0 mt-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">
                            <span>Thông tin cửa hàng</span>
                        </h4>
                        @if (@Model.Store == null)
                        {
                            <div class="alert alert-info">
                                Hệ thống lỗi! Đang không tồn tại cửa hàng trên hệ thống.
                            </div>                          
                        }
                        else
                        {
                            <p class="p-0">@Model.Store.StoreName</p>
                            <input type="hidden" asp-for ="@Model.StoreID" value="@Model.Store.StoreID" />

                            @if (TempData["ErrorStore"] != null)
                            {
                                <p class="text-danger mt-3">@TempData["ErrorStore"]</p>
                            }
                        }
                       
                    </div>
                </div>
            </div>
            <div class="container mt-2 p-0">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="fw-bold">THANH TOÁN</h4>
                        <div class="row mt-3 g-3">
                            <!-- Tiền mặt -->
                            <div class="col-md-4">
                                <label class="border rounded p-3 d-flex flex-column align-items-center justify-content-center shadow-sm position-relative w-100 active">
                                    <input type="radio" name="payment" value="cash" class="form-check-input position-absolute top-0 start-0 m-2" checked>
                                    <img src="https://cdn-icons-png.flaticon.com/512/2331/2331949.png" alt="Tiền mặt" width="50">
                                    <h6 class="mt-2">Tiền mặt</h6>
                                </label>
                            </div>

                            <!-- ZaloPay -->
                            <div class="col-md-4">
                                <label class="border rounded p-3 d-flex flex-column align-items-center justify-content-center shadow-sm position-relative w-100">
                                    <input type="radio" name="payment" value="zalopay" class="form-check-input position-absolute top-0 start-0 m-2">
                                    <img src="https://www.lotteria.vn/grs-static/images/zalopay.svg" alt="ZaloPay" width="50">
                                    <h6 class="mt-2">ZaloPay</h6>
                                </label>
                            </div>

                            <!-- MoMo -->
                            <div class="col-md-4">
                                <label class="border rounded p-3 d-flex flex-column align-items-center justify-content-center shadow-sm position-relative w-100">
                                    <input type="radio" name="payment" value="momo" class="form-check-input position-absolute top-0 start-0 m-2">
                                    <img src="https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png" alt="MoMo E-Wallet" width="50">
                                    <h6 class="mt-2">MoMo E-Wallet</h6>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container  mt-2 p-0 text-end">
                <input type="hidden" asp-for="@Model.ReceivingType" />
                <button type="submit" class="btn btn-danger">Đặt hàng</button>
            </div>
        </form>
       
    </div>
   

</div>
