@using DuAn_DoAnNhanh.Application.Implements.Service
@using DuAn_DoAnNhanh.Application.Interfaces.Service
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject ICartService _cartService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuAn_DoAnNhanh.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DuAn_DoAnNhanh.Client.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
            <div class="container">
                <!-- Logo hoặc tiêu đề -->
                <a class="navbar-brand" href="#">ĐẶT ĐỒ ĂN NHANH</a>

                <!-- Nút ba gạch ngang -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div class="collapse navbar-collapse fs-5" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="OrderHome">Đặt hàng</a>
                        </li>
                       
                    </ul>
                    <!-- Nút Login -->
                    
                    <ul class="navbar-nav navbar-right">
                        @{
                            var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");

                            var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");

                        }
                        @if (userId != null)
                        {
                            var cart = _cartService.GetCartFromUserId(Guid.Parse(userId));
                            var cartItems = _cartService.GetCartItems(cart.CartID);
                            var cartItemCount = cartItems.Sum(i => i.Quantity);

                            <li class="nav-item">
                                <a href="@Url.Action("Cart", "Cart")">
                                    <span class="nav-link navbar-text"><img src="https://www.lotteria.vn/grs-static/images/icon-cart.svg" alt="Alternate Text" /> (@cartItemCount)</span>
                                    
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("History", "User")">
                                    <span class="nav-link navbar-text"><img src="https://www.lotteria.vn/grs-static/images/icon-myaccount.svg" alt="Alternate Text" /></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link navbar-text">Hello, @userName</span>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-warning text-white rounded-pill" asp-controller="User" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a id="openModal" class="btn btn-danger text-white rounded-pill">
                                    Đăng nhập/Đăng ký
                                </a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
     
    </header>
   

    <div class="container">
        <main role="main">
            <div id="productModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-body p-2">
                            <!-- Gọi ViewComponent và truyền model đúng kiểu nếu cần -->
                            @await Component.InvokeAsync("SignUpSignIn")
                        </div>
                    </div>
                </div>
            </div>
            <marquee behavior="scroll" direction="left" style="color: red; font-size: 20px; font-weight: bold;padding:10px">
                Kính chào quý khách! Chúc quý khách ngày mới tốt lành.
            </marquee>
            <div class="container-fluid mt-3">
                <div class="row" >
                    @if (ViewBag.ShowSidebar == true)
                    {                    
                        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                        <div class="col-md-3 sidebar">
                            <div class="account-menu bg-warning p-3 rounded-3 fw-bold">
                                <h4 class="text-uppercase">TÀI KHOẢN CỦA TÔI</h4>
                                <nav class="nav flex-column " >
                                    <a class="nav-link @(currentAction == "Information" ? "active text-danger position-relative" : "")" href="@Url.Action("Information", "User")" style="color: inherit">
                                        Quản lý tài khoản
                                    </a>
                                    <a class="nav-link @(currentAction == "History" ? "active text-danger position-relative" : "")" href="@Url.Action("History", "User")" style="color: inherit">
                                        Đơn hàng của tôi
                                    </a>
                                    <a class="nav-link @(currentAction == "Address" ? "active text-danger position-relative" : "")" href="@Url.Action("Address", "User")" style="color: inherit">
                                        Địa chỉ giao hàng
                                    </a>
                                    <a class="nav-link " href="#" style="color: inherit">THÔNG TIN TÀI KHOẢN</a>
                                    <a class="nav-link " href="#" style="color: inherit">DANH SÁCH ƯU ĐÃI</a>
                                </nav>
                            </div>
                        </div>

                    }
                    <div class="col @((ViewBag.ShowSidebar == true) ? "col-md-9" : "col-12") main-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            // Khi nhấn nút mở modal
            $("#openModal").click(function () {
                $("#productModal").modal('show');
            });

            // Khi nhấn nút đóng modal
            $(".close").click(function () {
                $("#productModal").modal('hide');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Kiểm tra nếu TempData yêu cầu mở modal
        @if (TempData["OpenSignInModal"] != null && (bool)TempData["OpenSignInModal"] == true)
        {
            <text>
                        $("#productModal").modal('show');
            </text>
        }
            });
    </script>
    @if (TempData["Message"] != null)
    {
        <script>
            $(document).ready(function () {
                var message = "@TempData["Message"]";
                // Hiển thị thông báo thành công ở góc trên bên phải
                var alertBox = $('<div class="alert alert-success position-fixed top-0 end-0 m-5" role="alert">' + message + '</div>');
                $('body').append(alertBox);

                // Tự động ẩn thông báo sau 1,5 giây
                setTimeout(function () {
                    alertBox.fadeOut();
                }, 1500);
            });
        </script>
    }
    <script>
        $(document).ready(function () {
          $(".nav-link").click(function () {
            $(".nav-link").removeClass("active"); // Xóa class active khỏi tất cả mục
            $(this).addClass("active"); // Thêm class active vào mục được nhấn
          });
        });
    </script>
</body>
</html>

<style>
    .alert {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    main {
        margin-top: 70px; /* Điều chỉnh khoảng cách tùy theo chiều cao của menu */
    }

</style>